{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}
{% block body %}
	<div class="container">
		<h2 class="text-center">Bienvenu sur la page Annonce</h2><br>
		<div class="card mb-3">
			<h5 class="card-header text-center">{{annonces.titre}}</h5>
		</div>
		<img src="{{ asset('uploads/cover_images/' ~ annonces.coverImage ) }}" alt="image" style="height:500px; width:100%;">
		<div class="card-body text-center">

			<h5>
				<strong>
					Marque:</strong>
				{{annonces.marque.nom}}</h5>

			<p class="card-text">
				<strong>
					Description:</strong>
				<br>{{annonces.description }}</p>
			<p class="card-text text-center">
				<strong>
					{{annonces.Prix | number_format(0, ',', ' ')}}
					FCFA</strong>
			</p>
			<p class="card-text">
				Visible à
				{{annonces.Adresse }}</p>
		</div>
	</div>
	<div class="container">
		<h3>Commentaires</h3>
		<div class="row">
			<div class=" col-md-6">
			
				{% for commentaire in annonces.commentaires %}
					<div class="alert alert-info">
						<p>
							<small>{{commentaire.auteur}}
								a écrit</small>
						</p>
						<p>
							<strong>{{commentaire.contenu}}</strong>
						</p>
						<p>
							<small>
								Publié par
								{{commentaire.auteur}}

								{{annonces.createdAt |ago(locale='fr')}}</small>
						</p>
					</div>
				{% endfor %}
				<h3>Ajouter un commentaire</h3>
				{{ form_start(commentaireForm) }}

				<div class="form-group">
					{{ form_widget(commentaireForm) }}

				</div>
				<br>
				<button type="submit" class="btn btn-primary">Publiez</button>
				{{ form_end(commentaireForm) }}<br>
			</div><br><br>

			<div class="col-md-6">
				{% if app.request.attributes.get('_route') == 'annonces_show' %}
					{% for image in annonces.images %}

						<div class="card-body">
							<img src="{{ asset('/upload/' ~ image.nomUrl) }}" alt="Image" width="400">
						</div>

					{% endfor %}
				{% endif %}


			</div>
		</div>

		
	{% endblock %}
