{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}
{% block body %}

{% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
	<div class="container">
		<h2 class="text-center">Bienvenu sur la page Annonce</h2><br>
		<div class="card mb-3">
			<h5 class="card-header text-center">{{annonce.titre}}</h5>
		</div>
		<img src="{{ asset('uploads/cover_images/' ~ annonce.coverImage ) }}" alt="image" style="height:500px; width:100%;">
		<div class="card-body text-center">

			<h5>
				<strong>
					Marque:</strong>
				{{annonce.marque.nom}}</h5>

			<p class="card-text">
				<strong>
					Description:</strong>
				<br>{{annonce.description }}</p>
			<p class="card-text text-center">
				<strong>
					{{annonce.Prix | number_format(0, ',', ' ')}}
					FCFA</strong>
			</p>
			<p class="card-text">
				Visible à
				{{annonce.Adresse }}</p>
		</div>
	</div>
	<div class="container">
		<h3>Commentaires</h3>
		<div class="row">
			<div class=" col-md-6">
			
				{% for commentaire in annonce.commentaires %}
					<div class="alert alert-info">
						<p>
							<small>{{commentaire.auteur}}
								a écrit</small>
						</p>
						<p>
							<strong>{{commentaire.contenu}}</strong>
						</p>
						<p>
							<small>
								Publié par
								{{commentaire.auteur}}

								{{annonce.createdAt |ago(locale='fr')}}</small>
						</p>
                <div class="btn btn-danger">Supprimer</div>
					</div>
				{% endfor %}
				

				

			<div class="col-md-6">
				{% if app.request.attributes.get('_route') == 'annonces_show' %}
					{% for image in annonce.images %}

						<div class="card-body">
							<a href=""><img src="{{ asset('/upload/' ~ image.nomUrl) }}" alt="Image" width="400"></a>
						</div>

					{% endfor %}
				{% endif %}


			</div>
		</div>

		
	{% endblock %}
